<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.seamlesspay.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DemoAppTheme"
        android:name="com.seamlesspay.demo.DemoApplication"
        tools:replace="android:allowBackup">

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

        <activity
            android:name="com.seamlesspay.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.seamlesspay.demo.CardActivity" android:label="@string/buy" />
        <activity android:name="com.seamlesspay.demo.CreateTransactionActivity" />
        <activity android:name="com.seamlesspay.demo.RefundActivity" />
        <activity android:name="com.seamlesspay.api.SeamlesspayBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.seamlesspay" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
